.rt-stop-finder-example {
  .tm-map {
    padding-bottom: 10px;
  }

  .rt-stop-finder {
    font-family: Arial, sans-serif;
    width: 350px;

    .tm-search-input {
      width: 350px;
      height: 50px;

      input {
        font-size: 15px;
      }
    }
  }
}
